<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>examiner</title>
</head>
<body>
    <nav>
        <div class="withlogo">
        <a href="/" id="withlogo">
            <div class="logo">
            <div class="logoPr">
                <span id="front">effi</span>
                <span id="backbg"></span>
                <span id="back">cio</span>
            </div>
            </div>
        </a>
        <a href="public/efficio" class ="why">Why efficio</a>
    </div>
    <div class="notwithlogo">
        <button><a href="#hi" class="login">Login</a></button>
        <button><a href="#hi" class ="signup">Sign Up</a></button>
        <button class="menu"><div class="menu-bar"></div><div class="menu-bar"></div><div class="menu-bar"></div></button>
        </div>

    </nav>
    <div class="msdropmenu">
        <div class="dropmenu">
            <a href="public/efficio" class ="menu-why">Why efficio</a>
            <button><a href="#hi" class="menu-login">Login</a></button>
        </div>
    </div>
    <div class="hero-contan">
        <div class="half1">
            <div class="examiner">
                <img src="examiner logo.png">
                efficio examiner  
            </div>
            <div class="tag">
                Your personal TA for marking answer sheets
            </div>
            <div class="line">
                It's not easy to check 1000's of copy, Here's examiner 
                <a href="#hi" class ="signup2">Sign Up</a>
            </div>
        </div>
        <div class="half2">
            <img src="Screenshot 2024-02-22 at 8.30.15 PM.png" id="imghalf">
        </div>
    </div>
    <div class="hero-contan">
        <div class="half2">
            <img src="page2-img.webp" id="imghalf2">
        </div>
        <div class="half1">
            <div class="tag">
                Say goodbye to tedious manual grading tasks
            </div>
            <div class="line">
                
                    Efficio eliminates tedious manual grading tasks, revolutionizing the process with efficiency and precision. Say goodbye to time-consuming paperwork and hello to more impactful teaching experiences.
                </div>
                <a href="#hi" class ="signup2">Sign Up</a>
        </div>

        </div>
    </div>
    
        
    </div>
    <div class="Aboutus">
        <footer>
            <div class="logo">
                <div class="logoPr">
                    <span id="front">effi</span>
                    <span id="backbg"></span>
                    <span id="back">cio</span>
                </div>
            </div>
            <div class="social">
                <img src="https://assets-global.website-files.com/636a6f81a287f5628189d717/637654835a18de974a8d4441_ic_facebook.svg" >
                <img src="https://assets-global.website-files.com/636a6f81a287f5628189d717/63765483303970c874ba3961_ic_instagram.svg" >
                <img src="https://assets-global.website-files.com/636a6f81a287f5628189d717/63765483eccee89b9762e40d_ic_twitter.svg" >
            </div>
        </footer>
        <div class="copy-right-div">
            <div class="left-copy-right-div">
                    efficio examiner  are issued by Google classroom. © 2024 efficio, Inc. All Rights Reserved.
            </div>
            <div class="right-side-copy-right-div">
               <a href="#" class="copy-right-div-link" >Legal</a>
               <a href="#" class="copy-right-div-link">Privacy Policy</a>
                <a href="#" class="copy-right-div-link">Terms of Use</a>
                <a href="#" class="copy-right-div-link">Google Agreements</a>
            </div>
        </div>
    </div>
    <div class="logsign">
        <h1 id="heading">Login</h1>
        <form action="/login" method="post">
            <input type="text" id="user" name="username" placeholder="Username" required>
        
            <input type="password" id="pass" name="password" placeholder="Password" required>
            <a href="#forgetpass">Forget Password?</a>
            <input type="submit" value="Login" id="submit">
            <div class="shift"> Don't have an account?<a href="#signup" class="signup3">SignUp</a></div>
            <a href="#cancel" class="cancel">Cancel</a>
          </form>
    </div>
    <div class="signlog">
        <h1 id="heading">SignUp</h1>
        <form action="/signup" method="post">
            <input type="text" id="user" name="cUsername" placeholder="Username" required>
        
            <input type="password" id="crPass" name="createPassword" placeholder="Create Password" required>
            

            <input type="submit" value="SignUp" id="submit" onclick="check">
            <div class="shift"> Already have an account?<a href="#login" class="login2">Log In</a></div>
            <a href="#cancel" class="cancel">Cancel</a>
          </form>
    </div>
    <div class="logsign-bg"></div>
    <script src="script.js"></script>  
</body>
</html>